:root{
    --body-bg: hsl(225, 100%, 94%);
    --container-bg: hsl(225, 100%, 98%);
    --text: hsl(224, 23%, 55%);
    --plan-bg: hsl(225, 100%, 96%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center; 
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--body-bg);
}

.container{
    border-radius: 5%;
    overflow: hidden;
    margin: 50px 20px;
    background-color: var(--container-bg);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    row-gap: 15px;
    width: 100%;
}

.plan{
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    padding: 10px;
    align-items: center ;
    width: 100%;
    background-color: var(--plan-bg) ;
}
.button{
    width: 100%;
}
p{
    font-weight: 500;
    color: var(--text);
    font-size: 16px;
}
h1{
    font-weight: 900;
    font-size: 25px;
}
h2{
    font-weight: 700;
    font-size: 16px;
}

button{
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    color: var(--text);
    margin-top: 10px;
}

.payment{
    color: white;
    background-color:hsl(245, 75%, 52%);
    padding: 20px;
}
.cancel{
    background: none;
}
